/*----------------------------------------------------------------------------------
 * 小图标
 */
.icon {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background: url("icons.png") no-repeat scroll 0 -32px transparent;
    margin-right: 6px;
}

.icon.active {
    background: url("icons.png") no-repeat scroll 0 -32px transparent;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid :DXImageTransform.Microsoft.BasicImage(rotation=1);
    transform: rotate(90deg);
}

