body {
    background: url('p2.jpg') no-repeat fixed center bottom;
    background-color: #667788;
    overflow: hidden;
}

.bg {
}

.vdiv {
    position: absolute;
}

.vhead {
    line-height: 30px;
    white-space: nowrap;
    width: 100%;
    top: 0;
    left: 0;
}

.vbody {
    opacity: 0.5;
    background: #AAAAAA;
    list-style: none;
}

.vfooter {
    opacity: 0.5;
    height: 25px;
    line-height: 20px;
    white-space: nowrap;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #3333AA;
}

.workspace {
    float: left;
}

.innerworkspace {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.robot {
    background-color: #00CCAA;
}

.task {
    background-color: #BB00AA;
}

.report {
    background-color: #DD0000;
}

ul {
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul li {
    float: left;
}

ul li a {
    margin-left: 2px;
    margin-right: 8px;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: block;
    padding-left: 6px;
    padding-right: 20px;
    text-shadow: 1px 1px 0 #888888;
}

a.ci {
    color: #FFFFFF;
}

a.ci.active {
    color: #222222;
    background-color: rgba(200, 200, 200, 0.7);
}

a:link {
    text-decoration: none;
}
