* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.hdn {
    display: none;
}

body, td, th, font, p {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 16px;
}

.blank {
    color: #888;
    font-style: italic;
}